.background-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 24px;
  min-height: calc(100vh - 140px);
}

@media screen and (max-width: 650px) {
  legend {
    color: var(--accent-color-2);
    font-weight: bold;
    font-size: 12px;
  }
  .background-container {
    width: 365px;
  }

  .background-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
