@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  /* COLORS */
  --primary-color: #fdfcfd;
  --secondary-color: #f8f8f8;
  --tertiary-color: #f7f7f7;
  --text-color: #131313;
  --accent-color-1: rgba(12, 10, 97),;
  --accent-color-2: #ac8fd3;
  --accent-color-3: #49ad7b;
  --shadow-color: rgb(0 0 0 / 12%);
  /*FONT TITLE H1*/
  --logo-font: "Pacifico", sans-serif;
  --title-font-family: "Manrope", sans-serif;
  --title-font-weight: bold;
  --title-font-size-mobile: 20px;
  --title-font-size-desktop: 30px;
  /*FONT SUBTITLE H2*/
  --sub-title-h2-font-family: "Manrope", sans-serif;
  --sub-title-h2-font-weight: bold;
  --sub-title-h2-font-size-mobile: 16px;
  --sub-title-h2-font-size-desktop: 24px;
  /*FONT SUBTITLE H3*/
  --sub-title-h3-font-family: "Manrope", sans-serif;
  --sub-title-h3-font-weight: bold;
  --sub-title-h3-font-size-mobile: 12px;
  --sub-title-h3-font-size-desktop: 20px;
  /*FONT*/
  --font-small: 12px;
  --font-normal: 16px;
  --font-medium: 20px;
  --font-large: 24px;
  /*BODY*/
  --body-font-family: "Inter", sans-serif;
  --body-font-size: 12px;
  --body-font-family-desktop: 20px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  color: var(---accent-color-1);
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  background: var(--primary-color);
}

.light {
  /* COLORS LIGHT THEME*/
  --primary-color: #fdfcfd;
  --secondary-color: #f8f8f8;
  --tertiary-color: #f7f7f7;
  --text-color: #131313;
  --accent-color-1: rgba(12, 10, 97),;
  --accent-color-2: #ac8fd3;
  --accent-color-3: #49ad7b;
  --shadow-color: rgb(0 0 0 / 12%);
}

.dark {
  /* COLORS */
  --primary-color: #0d0d0d;
  --secondary-color: #131313;
  --tertiary-color: #1c1e1f;
  --text-color: #e6dbe3;
  --accent-color-1: #fc666a;
  --accent-color-2: #fc8f70;
  --accent-color-3: #49ad7b;
  --shadow-color: rgb(0 0 0 / 90%);
}

h1 {
  color: var(--accent-color-2);
}

a {
  text-decoration: none;
  color: var(--accent-color-1);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.standard-button {
  background: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 16px;
  color: var(--text-color);
  font-size: 16px;
  height: 40px;
  width: 200px;
  transition: all 0.3ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard-button:hover {
  border: solid 2px var(--accent-color-2);
  color: var(--accent-color-2);
}

.standard-button.active {
  border: solid 2px var(--accent-color-2);
  color: var(--accent-color-2);
}

.little-cta {
  font-size: 16px;
  background: var(--accent-color-2);
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: white;
  transition: all 100ms ease-in;
}

.little-cta:hover {
  color: black;
  font-weight: bold;
}
